@{
    ViewData["Title"] = "Get to know Joel!";
}
<h1>@ViewData["Title"]</h1>
<link rel="stylesheet" href="~/css/site.css" />


<div class="get-to-know-links">
   
    
    <ul>
        <li><a href="https://www.qwcomedy.com/">My Quick Wits Comedy Preformances</a></li>
        
        <li><a href=" https://baconsale.com/">Bacon Sale</a></li>
        
        <a href=" https://baconsale.com/">
            <img src="/img/BaconsaleKate.jpg" alt="Picture" width="200">
            
        </a>
    </ul>
</div>

<!-- 
A separate “Get to Know Joel” page with:
o A link to Quick Wits Comedy (where he performs regularly):
▪ https://www.qwcomedy.com/
o A link to the Baconsale site:
▪ https://baconsale.com/
o This photo that also links to the Baconsale site when clicked:
▪ https://byu.box.com/s/ie6ibeddqm0f6oudp7bc5dyt87zxi2u4
-->