@{
    ViewData["Title"] = "Get to know Joel!";
}
<h1>@ViewData["Title"]</h1>
<link rel="stylesheet" href="~/css/site.css" />


<div class="get-to-know-links">
   
    <!-- This all the links to his stuff -->
    <ul>
        <li><a href="https://www.qwcomedy.com/">My Quick Wits Comedy Preformances</a></li>
        
        <li><a href=" https://baconsale.com/">Bacon Sale</a></li>
        
        <a href=" https://baconsale.com/">
            <img src="/img/BaconsaleKate.jpg" alt="Picture" width="200">
            
        </a>
    </ul>
</div>

